mixin news(data)
    - data = data || {}
    -
        var news = [
            {
                image: 'news-3',
                date: '7 октября, 2020',
                title: 'CBT-туризм Самарканда, обладающий высоким потенциалом, ждет тольк позитивных импульсов',
                subtitle: 'Сбалансированное территориальное развитие Республики Узбекистан предполагает ориентацию на обеспечение условийпозволяющих каждому региону'
            },
            {
                image: 'news-4',
                date: '25 сентябя, 2020',
                title: 'Уроки тренерского мастерства',
                subtitle: 'Туристический бизнес Узбекистана, в том числе и сегмент CBT-туризма, обладает весьма существенным потенциалом для развития'
            },
            {
                image: 'news-5',
                date: '18 сентября, 2020',
                title: 'Сотрудники Проекта USAID по развитию предпринимательства и бизнес-среды в Узбекистане встретились с командой АЧТО',
                subtitle: 'Проекта USAID по развитию предпринимательства и бизнес-среды в Узбекистане в рамках сайт-визита встретились с командой Ассоциации частных туристических организаций'
            },
            {
                image: 'news-6',
                date: '20 августа, 2020',
                title: 'Новый проект АЧТО будет способствовать росту популярности и повышению потенциала СВТ-туризма Узбекистана',
                subtitle: 'Одной из точек роста для туристической индустрии нашей страны рассматривается CBT-туризм (Community Based Tourism– туризм, основанный на сообществах'
            },
            {
                image: 'news-7',
                date: '18 ноября, 2020',
                title: 'Был подписан меморандум о партнёрстве и дальнейшем сотрудничестве',
                subtitle: 'Сельский туризм для устойчивого экономического развития в Центральной Азии» был подписан меморандум о партнёрстве и дальнейшем сотрудничестве'
            },
            {
                image: 'news-8',
                date: '18 ноября, 2020',
                title: 'Конференция: «Сельский туризм для устойчивого экономического развития в Центральной Азии»',
                subtitle: 'Ассоциация частных туристических организаций Узбекистана (АЧТО) при поддержке Европейского Союза провели в г. Ташкенте Центрально-Азиатскую конференцию на тему'
            },
        ]
    
    ul.news__items.row
        each item,i in news
            if i < data
                li.news__item.col-md-6.col-lg-12(data-aos="fade-up" data-aos-delay=`${i+1}00`)
                    a(href="news-inner.html").news__link
                        .news__wrapper
                            .news__thumb.ratio-container
                                img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt=""
                            data-sizes="auto"
                            data-src=`./images/news/${item.image}.jpg`
                            data-srcset=`./images/news/${item.image}.jpg 300w,
                            ./images/news/${item.image}.jpg 600w,
                            ./images/news/${item.image}.jpg 900w`).news__img.lazyload.blur-up
                            .news__block 
                                date.date.news__date!=item.date
                                    .news__view
                                        +icon('eye',{w: 16, h: 10, cls: "news__icon"})
                                        span 156
                                h3.h3.news__title!=item.title 
                                p.p.news__subtitle!=item.subtitle