extends pug/base

append vars
	- title = 'Главная'
	- meta.description = 'Описание страницы'
	- link.icon = './favicon.ico'
	- meta.formatDetection = 'telephone=no'
	- meta.themeColor = ''
	- defaultLink = 'javascript:void(0);'
	- blockClass = 'index-event__items'

block content
	+header()
	// Контент
	section.main(data-aos="fade-up" data-aos-delay="200")
		.main__wrapper
			section.slider
				.slider__block(data-aos="fade-up" data-aos-delay="300")
					.swiper-container.slider__js
						.swiper-wrapper
							- for(var i = 0; i < 5; i++) {
								.swiper-slide
									.slider__item
										picture
											source(data-srcset="./images/slider-mob.jpg" media="(max-width: 576px)")
											img(data-src="./images/slider-1.jpg" alt="slider").slider__img.swiper-lazy
										.slider__captions
											.slider__captions-text
												| АССОЦИАЦИЯ ЧАСТНЫХ ТУРИСТИЧЕСКИХ ОРГАНИЗАЦИЙ узбекистана
											.slider__captions-link
												a(href="#").slider__captions-btn.slider__btn.btn-blue.btn
													| присоединится
							- }
						.swiper-controls
							.swiper-button-prev
							.swiper-pagination
							.swiper-button-next
				.slider-card(data-aos="fade-up" data-aos-delay="400")
					.slider-card__images
						img(src="./images/director.jpg", alt="")
					.slider-card__block
						.slider-card__title 
							| Руководитель
						.slider-card__name 
							| Фамилия Имя
						.slider-card__desc 
							| Вероятностная логика,  конечно, транспонирует онтологический гедонизм. Вероятностная логика,  конечно,
						.slider__btn 
							a(href="#").btn.btn-white
								| Подробнее
			.banner(data-aos="fade-up" data-aos-delay="400")
				.container
					.banner__block
						img(src="./images/banner.jpg", alt="").banner__image
			.white-wrapper(data-aos="fade-up" data-aos-delay="100")
				section.project
					.container
						.project__title.index-title(data-aos="fade-up" data-aos-delay="200")
							| наши проекты
						.project__slider.swiper-container
							.swiper-wrapper
								- for(var i = 0; i < 3; i++) {
									.swiper-slide(data-aos="fade-up" data-aos-delay=`${i+5}00`)
										a(href="#").project-block
											.project-block__image.ratio-container
												img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", 
                                                ata-sizes="auto"
                                                data-src=`./images/projects/project-${i}.jpg`
                                                data-srcset=`./images/projects/project-${i}.jpg 300w,
                                                ./images/projects/project-${i}.jpg 600w,
                                                ./images/projects/project-${i}.jpg 900w`
                                                alt="").lazyload.blur-up
											.project-block__name
												| Названия проекта может быть две
											.project-block__count!=`0${i+1}`
								- }
							.swiper-button-prev
							.swiper-pagination
							.swiper-button-next
				section.counters(data-aos="fade-up" data-aos-delay="200")
					.container
						.counters__header.index-title(data-aos="fade-up" data-aos-delay="400")
							| ассоциация в цыфрах
						.counters__items.row
							- var counters = [ { count: '1999', title: 'год основания ассоциации' }, {  count: '120', title: 'члены ассоциации' }, { count: '35000', title: 'колличество обученых' }, { count: '1500', title: 'проведенных мероприятия' } ]
							each item,i in counters
								.counters__item.col-md-6.col-lg-3(data-aos="fade-up" data-aos-delay=`${i+5}00`)
									.counters__circle 
										span(data-purecounter-start="0" 
											data-purecounter-end!=item.count
											class="purecounter")!=item.count
									.counters__title!=item.title
				section.news(data-aos="fade-up" data-aos-delay="200")
					.container
						.news__blocks
							.news__header.index-title(data-aos="fade-up" data-aos-delay="400")
								| пресс центр
								a(href="news.html").link-title
									| Все новости
							.news__items
								.news__slider.swiper-container
									.swiper-wrapper
										- for(var i = 0; i < 3; i++) {
											.swiper-slide(data-aos="fade-up" data-aos-delay=`${i+5}00`)
												a(href="#").news__item
													.news__picture.ratio-container
														img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt=""
														data-sizes="auto"
														data-src=`./images/news/news-${i}.jpg`
														data-srcset=`./images/news/news-${i}.jpg 300w,
														./images/news/news-${i}.jpg 600w,
														./images/news/news-${i}.jpg 900w`
														).news__img.lazyload.blur-up
													.news__date.date
														| 21 Январь, 2021
													.news__title.h3
														| Заголовок новости может быть две строки или может быть больше в три строки  
													.btn.btn-white
														| Читать больше
										- }
									.swiper-pagination
				section.index-event(data-aos="fade-up" data-aos-delay="200")
					.index-event__wrapper
						+sliderEvent()
				section.association(data-aos="fade-up" data-aos-delay="200")
					.container 
						.association__header.index-title(data-aos="fade-up" data-aos-delay="400")
							| Как вступить в ассоциацию
						.association__block
							+tourItem('row', 'col-md-6 col-lg-4', 3)
				section.last-section(data-aos="fade-up" data-aos-delay="200")
					.container 
						.last-section__header.index-title(data-aos="fade-up" data-aos-delay="400")
							| члены ассоциации
						.last-section__items.swiper-container(data-slider-delay="4000")
							.swiper-wrapper
								- for(var i = 0; i < 5; i++) {
									.swiper-slide.last-section__item(data-aos="fade-up" data-aos-delay=`${i+5}00`)
										img(src=`./images/logos/logo-${i+1}.png`, alt="").last-section__img
								- }
							.swiper-pagination
							.swiper-button-prev
							.swiper-button-next
	+footer()